@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixin.scss' as *;

.pageContainer {
  margin: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: $main-bg;

  // sm (640px - 767px)
  @include respond-to('sm') {
    padding: 1.5rem 8rem;
  }

  // md (768px - 1023px)
  @include respond-to('md') {
    padding: 1.5rem 12rem;
  }

  // lg (1024px - 1279px)
  @include respond-to('lg') {
    padding: 1.5rem 18rem;
  }

  // xl (1280px - 1535px)
  @include respond-to('xl') {
    padding: 1.5rem 30rem;
  }

  // 2xl (1536px - 1799px
  @include respond-to('2xl') {
    padding: 1.5rem 38rem;
  }

  // 3xl (1800px - ...)
  @include respond-to('3xl') {
    padding: 1.5rem 44rem;
  }

  .title {
    display: flex;
    flex-direction: column;

    h1, p {
      margin: 0;
      text-align: center;
    }
  }

  .jobForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .jobLocation {
      display: flex; 
      flex-direction: column;
      gap: .5rem;

      .jobLocationTitle {
        font-size: .9rem;
        font-weight: 500;
      }

      .radioGroup {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row !important;

        .jobLocationType {
          font-size: .8rem;
        }

        .jobLocationTypeDesc {
          font-size: .7rem;
          color: #818181;
        }
      }
    }
  }
}