@use './variables.scss' as *;

body {
  margin: 0;
  font-family: $font-family;
  background-color: $main-bg;

  .homePage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}