$main-bg: #F9F9F9;
$font-family: 'Roboto', sans-serif;
$btn-gradient-start: #5138EE;
$btn-gradient-end: #800080;
$primary-border: #DCDCDC;
$active-stage-bg: #EDEBFB;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;