@use '@/styles/variables.scss' as *;
@use '@/styles/mixin.scss' as *;

.pageContainer {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;

    // sm (640px - 767px)
    @include respond-to('sm') {
      padding: 1.5rem 4rem;
    }

    // md (768px - 1023px)
    @include respond-to('md') {
      padding: 1.5rem 5rem;
    }

    // lg (1024px - 1279px)
    @include respond-to('lg') {
      padding: 1.5rem 8em;
      justify-content: space-between;
    }

    // xl (1280px - 1535px)
    @include respond-to('xl') {
      padding: 1.5rem 13rem;
    }

    // 2xl (1536px - 1799px)
    @include respond-to('2xl') {
      padding: 1.5rem 17rem;
    }

    // 3xl (1800px - ...)
    @include respond-to('3xl') {
      padding: 1.5rem 20em;
    }

    .btnStyles {
      padding: 1rem 1rem;

      @include respond-to('sm') {
        padding: 1rem 2em;
        justify-content: space-between;
      }
  
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease;
      }
    }

    .previousWrapper {
      .previous {
        color: black;
        display: flex;
      align-items: center;
        @extend .btnStyles;
      }

      .hidePrevious {
        display: none;
      }
    }

    .proceedWrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      .draft {
        color: black;
        @extend .btnStyles;
      }

      .proceed {
        background: linear-gradient(to right, $btn-gradient-start, $btn-gradient-end);
        color: #fff;
        @extend .btnStyles;
      }
    }
  }
}