@use '../styles/variables.scss' as *;
@use '../styles/mixin.scss' as *;

.headerContainer {
  background-color: #fff;
  border-bottom: 1px solid $primary-border;
  padding: .5rem 1rem; // < 640px

  // sm (640px - 767px)
  @include respond-to('sm') {
    padding: 1.5rem 4rem;
  }

  // md (768px - 1023px)
  @include respond-to('md') {
    padding: 1.5rem 5rem;
  }

  // lg (1024px - 1279px)
  @include respond-to('lg') {
    padding: 1.5rem 10rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  // xl (1280px - 1535px)
  @include respond-to('xl') {
    padding: 1.5rem 15rem;
  }

  // 2xl (1536px - 1799px)
  @include respond-to('2xl') {
    padding: 1.5rem 23rem;
  }

  // 3xl (1800px - ...)
  @include respond-to('3xl') {
    padding: 1.5rem 30rem;
  }

  .stagesWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .customButtonLink {
      text-decoration: none;
      align-self: flex-start;
      position: realtive;
      z-index: 20;
      left: 0;
  
      @include respond-to('lg') {
        align-self: center;
        position: absolute;
        z-index: 20;
        left: -6rem;
      }

      @include respond-to('xl') {
        left: -7rem;
      }
  
      .customButton {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
  
        @include respond-to('sm') {
          font-size: 1rem;
        }
      }
    }  

    .stages {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
  
      @include respond-to('lg') {
        flex-direction: row;
      }
  
      .multiline-clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
  
      .stage {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3.5rem;
        border-radius: 8px;
        border: 1px solid $primary-border;
        padding: 0 1rem;
  
        @include respond-to('md') {
          display: block;
        }
  
        @include respond-to('lg') {
          height: 8rem;
        }
  
        h3 {
          margin: .5rem 0;
          font-size: 1em;
          text-align: center;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          @extend .multiline-clamp;
  
          @include respond-to('md') {
            margin-top: 1rem;
            margin-bottom: 0;
            text-align: start;
          }
        }
  
        p {
          margin-top: 4px;
          font-size: 0.8rem;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          display: none;
          @extend .multiline-clamp;
  
          @include respond-to('md') {
            display: inline-block;
          }
        }
      }
  
      .activeStage {
        background-color: $active-stage-bg;
        border: 1px solid $btn-gradient-start;
        
        @include respond-to('lg') {
          transform: scaleY(1.1);
        }
  
        h3 {
          font-size: 1em;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          @extend .multiline-clamp;
  
          @include respond-to('lg') {
            font-size: 1.17em;
          }
        }
  
        p {
          margin-top: 4px;
          font-size: 0.9rem;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          @extend .multiline-clamp;
        }
      }

      .completedStage {
        border: 2px solid green;
      }
  
      .divider {
        width: 150px;
        background-color: $primary-border;
        display: none;
        height: 1px;
  
        @include respond-to('lg') {
          display: inline-block;
        }
      }
    }

    @include respond-to('lg') {
      flex-direction: row;
      gap: 0;
    }
  }
}